.divSearchBar {
  display: flex;
  column-gap: 10px;
}
.divSearchBar input {
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
}
.divSearchBar button {
  padding: 10px;
  background-color: #64c664;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
